/* フォント定義 */
@font-face {
    font-family: 'UDKakugo';
    src: url('assets/UDKakugoDB.otf') format('opentype');
}

/* 全要素の余白リセット・フォント適用 */
* {
    margin: 0 !important;
    padding: 0 !important;
    box-sizing: border-box !important;
    font-family: 'UDKakugo', sans-serif;
}

html, body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: #000;
}

#map {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

#broadcast-header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    line-height: 0;
}

#bg-labels {
    width: 100%;
    height: auto;
    display: block;
}

.data-overlay {
    position: absolute;
    color: #fff;
    font-weight: bold;
    font-size: 2.2vw; /* 基本の数字サイズ */
    z-index: 1001;
}

/* 単位部分だけ小さくする */
.unit {
    font-size: 0.8em; /* 数字に対して60%のサイズ */
    margin-left: 2px;
}

#time-val { top: 28%; left: 35%; }
#mag-val  { top: 28%; left: 66.5%; }
#hypo-val { top: 72%; left: 35%; }
#depth-val { top: 72%; left: 66.5%; }
